name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  merge_group:
    types: [checks_requested]

permissions:
  contents: read

jobs:
  package-ci:
    uses: alextheman231/github-actions/.github/workflows/pnpm-ci.yml@7f9a4bb0d8c993b31a20379938e6591a6f9fa585 # v7.0.0

  actions-ci:
    uses: alextheman231/github-actions/.github/workflows/actions-ci.yml@7f9a4bb0d8c993b31a20379938e6591a6f9fa585 # v7.0.0
