name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  ci:
    uses: AlexMan123456/github-actions/.github/workflows/pnpm-ci.yml@1425d0703313d1ae704a7a2d7c01202bc6f36652 # v2.4.3
