name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  ci:
    uses: AlexMan123456/github-actions/.github/workflows/pnpm-ci.yml@671ddf592952b0ce43c113eb29fb716607420f8a # v2.3.2
