name: Commit a version change
on:
  push:
    branches: ["main"]

permissions:
  contents: write
  pull-requests: write

jobs:
  commit-version-change:
    if: ${{ github.repository == 'AlexMan123456/utility' }}
    uses: AlexMan123456/github-actions/.github/workflows/commit-version-change.yml@701bb82ccd8b7b289794c3b2f8c056ae0b31e359 # v3.0.2
    secrets:
      PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
