name: Commit a version change
on:
  push:
    branches: ["main"]

permissions:
  contents: write
  pull-requests: write

jobs:
  commit-version-change:
    if: ${{ github.repository == 'AlexMan123456/utility' }}
    uses: AlexMan123456/github-actions/.github/workflows/commit-version-change.yml@15f945caadf76b8408942fa118f99da7fd2554e3 # v4.1.0
    secrets:
      PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
