name: Commit a version change
on:
  push:
    branches: ["main"]

permissions:
  contents: write
  pull-requests: write

jobs:
  commit-version-change:
    if: ${{ github.repository == 'AlexMan123456/utility' }}
    uses: alextheman231/github-actions/.github/workflows/commit-version-change.yml@d94b65a56e0f50cbbd674bc019f732bd606d7063 # v5.0.0
    secrets:
      PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
