name: Commit a version change
on:
  push:
    branches: ["main"]

permissions:
  contents: write
  pull-requests: write

jobs:
  commit-version-change:
    if: ${{ github.repository == 'AlexMan123456/utility' }}
    uses: AlexMan123456/github-actions/.github/workflows/commit-version-change.yml@86529c00c5698703b0d66898a7bd4fc46c7f71ff # v3.0.0
    secrets:
      PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
