name: Commit a version change
on:
  push:
    branches: ["main"]

permissions:
  contents: write
  pull-requests: write

jobs:
  commit-version-change:
    if: ${{ github.repository == 'AlexMan123456/utility' }}
    uses: AlexMan123456/github-actions/.github/workflows/commit-version-change.yml@351e9300f94bd9c648fe7367f518abe0e449a0e3 # v4.0.5
    secrets:
      PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
