name: Commit a version change
on:
  push:
    branches: ["main"]

permissions:
  contents: write
  pull-requests: write

jobs:
  commit-version-change:
    if: ${{ github.repository == 'AlexMan123456/utility' }}
    uses: AlexMan123456/github-actions/.github/workflows/commit-version-change.yml@c817738b1014c70c514f5b7008122fb06191e57e # v3.0.5
    secrets:
      PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
