name: Commit a version change
on:
  workflow_dispatch:
    inputs:
      version-type:
        description: The version type to change
        required: true
        type: choice
        options:
          - major
          - minor
          - patch
        default: patch
      message:
        description: Release message
        required: false


permissions:
  contents: write
  pull-requests: write

jobs:
  commit-version-change:
    if: ${{ github.repository == 'AlexMan123456/utility' }}
    uses: AlexMan123456/github-actions/.github/workflows/commit-version-change.yml@ffb5c5ac14fafd8d26aab6c1669e494b5372d65b # v2.9.3
    secrets:
      PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
