name: Commit a version change
on:
  push:
    branches: ["main"]

permissions:
  contents: write
  pull-requests: write

jobs:
  commit-version-change:
    if: ${{ github.repository == 'AlexMan123456/utility' }}
    uses: AlexMan123456/github-actions/.github/workflows/commit-version-change.yml@569f2d1549eda3be7a0928d33e50abb16291e327 # v4.0.1
    secrets:
      PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
