name: Commit a version change
on:
  push:
    branches: ["main"]

permissions:
  contents: write
  pull-requests: write

jobs:
  commit-version-change:
    if: ${{ github.repository == 'AlexMan123456/utility' }}
    uses: AlexMan123456/github-actions/.github/workflows/commit-version-change.yml@b41a4e8a90eae5a7a0ade19d7e6d9ded37debe74 # v4.0.2
    secrets:
      PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
