name: publish npm

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write

jobs:
  publish:
    if: ${{ github.repository == 'AlexMan123456/utility' }}
    uses: AlexMan123456/github-actions/.github/workflows/npm-registry-publish.yml@2ea68f611ac7eeb266858507bcba6287a113a07d # v2.8.2
