name: publish npm

permissions:
  id-token: write

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: AlexMan123456/github-actions/npm-publish@0c5c39c256967feb3c4653b65d7f47c0e1b712c7 # v2.1.5

