name: Publish to NPM Registry

on:
  push:
    branches:
      - main

permissions:
  id-token: write

jobs:
  publish:
    if: ${{ github.repository == 'AlexMan123456/utility' }}
    uses: AlexMan123456/github-actions/.github/workflows/npm-registry-publish.yml@ffb5c5ac14fafd8d26aab6c1669e494b5372d65b # v2.9.3
