name: publish npm

on:
  push:
    branches:
      - main

jobs:
  check-version:
    if: ${{ github.repository == 'AlexMan123456/utility' }}
    permissions:
      contents: read
    uses: AlexMan123456/github-actions/.github/workflows/npm-registry-version-check.yml@e7edea7da44dd2cd30df00c0dcb695ca032e3adf # v2.8.0

  publish:
    if: ${{ github.repository == 'AlexMan123456/utility' }}
    permissions:
      id-token: write
      contents: read
    uses: AlexMan123456/github-actions/.github/workflows/npm-registry-publish.yml@e7edea7da44dd2cd30df00c0dcb695ca032e3adf # v2.8.0
