name: publish npm

permissions:
  id-token: write
  contents: read

on:
  push:
    branches:
      - main

jobs:
  check-version:
    runs-on: ubuntu-latest
    outputs:
      exists: ${{ steps.check_version.outputs.exists }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Fetch from main
        run: |
          git fetch --unshallow origin main
          git fetch --tags origin

      - name: Use Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org/

      - name: Use latest NPM version
        run: npm install -g npm@latest

      - name: Read version from package.json
        id: get_version
        run: |
          VERSION=v$(jq -r ".version" package.json)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Check if version already exists
        id: check_version
        env:
          TAG: ${{ steps.get_version.outputs.version }}
        run: |
          PACKAGE_NAME=$(jq -r '.name' package.json)
          VERSION=$(jq -r '.version' package.json)

          if npm view "$PACKAGE_NAME@$VERSION" version >/dev/null 2>&1; then
            echo "Version $VERSION already exists, skipping..."
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "exists=false" >> $GITHUB_OUTPUT
          fi

  publish:
    if: ${{ github.repository == 'AlexMan123456/utility' }}
    uses: AlexMan123456/github-actions/.github/workflows/npm-registry-publish.yml@f727d3458fdcff10a4bfd313d90f59198c935c0e # v2.5.2
