name: publish npm

permissions:
  id-token: write

on:
  push:
    branches:
      - main

jobs:
  publish:
    if: ${{ github.repository == 'AlexMan123456/utility' }}
    uses: AlexMan123456/github-actions/.github/workflows/npm-registry-publish.yml@1425d0703313d1ae704a7a2d7c01202bc6f36652 # v2.4.3
