name: Publish to NPM Registry

on:
  push:
    branches:
      - main

permissions:
  id-token: write

jobs:
  publish:
    if: ${{ github.repository == 'AlexMan123456/utility' }}
    uses: AlexMan123456/github-actions/.github/workflows/npm-registry-publish.yml@544384ec9bcfd5a896904d4c286385fed2db2690 # v2.9.2
