name: Publish to NPM Registry

permissions:
  id-token: write

on:
  push:
    branches:
      - main

jobs:
  publish:
    if: ${{ github.repository == 'AlexMan123456/utility' }}
    uses: AlexMan123456/github-actions/.github/workflows/npm-registry-publish.yml@2a6e458d2145fe1a486a889ecbde2a738b486b94 # v2.7.0
