name: Update Dependencies
on:
  workflow_dispatch:
  schedule:
  - cron: 0 21 * * 5

permissions:
  contents: write
  pull-requests: write

jobs:
  update-dependencies:
    if: ${{ github.repository == 'AlexMan123456/utility' }}
    uses: AlexMan123456/github-actions/.github/workflows/update-dependencies.yml@671ddf592952b0ce43c113eb29fb716607420f8a # v2.3.2
    secrets:
      PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
