name: Update Dependencies
on:
  workflow_dispatch:
  schedule:
  - cron: 0 21 * * 5

permissions:
  contents: write
  pull-requests: write

jobs:
  update-dependencies:
    runs-on: ubuntu-latest
    env:
      HUSKY: 0
    
    strategy:
      matrix:
        node-version: [22.x]

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - uses: AlexMan123456/github-actions/update-dependencies@0c5c39c256967feb3c4653b65d7f47c0e1b712c7 # v2.1.5
      with:
        PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
