name: Update Dependencies
on:
  workflow_dispatch:
  schedule:
  - cron: 0 21 * * 5

permissions:
  contents: write
  pull-requests: write

jobs:
  update-dependencies:
    if: ${{ github.repository == 'AlexMan123456/utility' }}
    uses: AlexMan123456/github-actions/.github/workflows/update-dependencies.yml@1425d0703313d1ae704a7a2d7c01202bc6f36652 # v2.4.3
    secrets:
      PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
