name: Update Dependencies
on:
  workflow_dispatch:
  schedule:
  - cron: 0 21 * * 5

permissions:
  contents: write
  pull-requests: write

jobs:
  update-dependencies:
    if: ${{ github.repository == 'AlexMan123456/utility' }}
    uses: AlexMan123456/github-actions/.github/workflows/update-dependencies.yml@629b3bae50a584b37600997b3a63155b2b6c789d # v2.7.1
    secrets:
      PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
