name: Update Dependencies
on:
  workflow_dispatch:
  schedule:
  - cron: 0 21 * * 5

permissions:
  contents: write
  pull-requests: write

jobs:
  update-dependencies:
    if: ${{ github.repository == 'AlexMan123456/utility' }}
    uses: AlexMan123456/github-actions/.github/workflows/update-dependencies.yml@030badcc6072a9ed75003761be464e6641f63cf4 # v2.13.0
    secrets:
      PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
