name: Update Dependencies
on:
  workflow_dispatch:
  schedule:
  - cron: 0 21 * * 5

permissions:
  contents: write
  pull-requests: write

jobs:
  update-dependencies:
    if: ${{ github.repository == 'AlexMan123456/utility' }}
    uses: AlexMan123456/github-actions/.github/workflows/update-dependencies.yml@d9962435db3e6cef4df7b2b745e609553760ea24 # v2.8.7
    secrets:
      PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
