name: Update Dependencies
on:
  workflow_dispatch:
  schedule:
  - cron: 0 21 * * 5

permissions:
  contents: write
  pull-requests: write

jobs:
  update-dependencies:
    if: ${{ github.repository == 'AlexMan123456/utility' }}
    uses: AlexMan123456/github-actions/.github/workflows/update-dependencies.yml@ffb5c5ac14fafd8d26aab6c1669e494b5372d65b # v2.9.3
    secrets:
      PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
