name: Update Dependencies
on:
  workflow_dispatch:
  schedule:
  - cron: 0 21 * * 5

permissions:
  contents: write
  pull-requests: write

jobs:
  update-dependencies:
    if: ${{ github.repository == 'AlexMan123456/utility' }}
    runs-on: ubuntu-latest
    env:
      HUSKY: 0
    
    strategy:
      matrix:
        node-version: [22.x]

    steps:
    - name: Checkout the repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Use Node.js
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version: 22

    - name: Setup GitHub user
      run: |
        git config --global user.name "AlexUpBot"
        git config --global user.email "alexupbot@bot.com"

    - name: Use PNPM
      uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      with:
        run_install: false

    - name: Update JavaScript dependencies
      run: |
        pnpm run update-dependencies
        pnpm install --no-frozen-lockfile

    - name: Update GitHub Actions
      run: pnpx actions-up -y

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
      with:
        token: ${{ secrets.PAT_GITHUB }}
        branch: alex-up-bot/update-dependencies
        base: main
        commit-message: Update dependencies
        title: "Update dependencies"
