name: Update Dependencies
on:
  workflow_dispatch:
  schedule:
  - cron: 0 21 * * 5

permissions:
  contents: write
  pull-requests: write

jobs:
  update-dependencies:
    if: ${{ github.repository == 'AlexMan123456/utility' }}
    uses: AlexMan123456/github-actions/.github/workflows/update-dependencies.yml@701bb82ccd8b7b289794c3b2f8c056ae0b31e359 # v3.0.2
    secrets:
      PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
